<div class="container pt-5">
    <div class="m-auto w-50 border rounded px-5 py-4 shadow">
        <h2 class="text-dark text-center">Đăng nhập</h2>
        <div class="form-outline mb-2">
            <input name="username" type="text" id="username" class="form-control" />
            <label class="form-label" for="username">Tài khoản</label>
        </div>

        <div class="form-outline mb-2">
            <input name="password" type="password" id="password" class="form-control" />
            <label class="form-label" for="password">Mật khẩu</label>
        </div>

        <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" value="" id="show-password" />
            <label class="form-check-label" for="show-password">Hiện mật khẩu</label>
        </div>

        <button class="btn btn-dark btn-block mb-2" onclick="login()">Đăng nhập</button>
        <span>Chưa có tài khoản? <a href="/account/register">Đăng ký</a></span>
    </div>
</div>
<script src="/js/login.js"></script>
<script src="/js/main.js"></script>